doctype html
html
  head
    title HDO Lite
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header(class='header')
      div(class='container')
        h2(class='brand') HDO Lite
        form(class='form-search', action='/search')
          input(class='button-search', type='submit', value='Search')
          input(class='text-field', type='text', name='key')

    main
      div(class='container')
        block content
